--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
openai
pydantic
python-dotenv
requests
numpy
opencv-python-headless
mediapipe
edge-tts
axios
pydub
python-multipart
aiohttp
aiofiles
psutil
sentence-transformers
langchain-huggingface
langchain-community
faiss-cpu
openai-whisper
torch
